@font-face {
  font-family: 'Digit';
  src: url('../fonts/avenir-medium.eot');
  src: url('../fonts/avenir-medium.eot') format('embedded-opentype'),
  url('../fonts/avenir-medium.woff2') format('woff2'),
  url('../fonts/avenir-medium.woff') format('woff'),
  url('../fonts/avenir-medium.ttf') format('truetype'),
  url('../fonts/avenir-medium.svg#Digit') format('svg');
}
a{
  color:#888;
  font-size: inherit;
}
a:hover{
  color:inherit;
}
/*Fonts*/
.font-family-1 {
  font-family: 'Avenir';
  font-weight: 500;
}
.font-small{
  font-size: 13px;
}
.font-large{
  font-size: 20px;
}
.font-x-large{
  font-size: 45px;
}
/*Backgrounds*/
.bg-pattern{
  background-image: url('../img/pattern.png');
  background-size: 180px;
}
.bg-grey{
  background-color: #EFF3F3;
}
/*Layout*/
.line-max{
  width:100%;
  max-width:800px;
  float:none;
  margin:0 auto;
}
/*Extra*/
.footer{
  webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#iphone{
  width:350px;
  webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.iphone-boy{
  background: url('../img/iphone-boy.png') no-repeat center top;
}
.iphone-girl{
  background: url('../img/iphone-girl.png') no-repeat center top;
}
#slider{
  height:600px;
  width:280px;
}
#slider img{
  margin:0 auto;
  float:none;
}
